@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	background-image: url("../../assets/images/festaimg.jpeg");
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 821px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-attachment: fixed; 
	background-size: cover; /* Resize the background image to cover the entire container */
	font-family: 'Poppins', sans-serif;
}

button {
	background-color: purple;
}

p {
	max-height: 100%;
}

.titulo-texto {
	font-family: 'Mukta', sans-serif;
	font-size: xx-large;
	color: #FFF;
}

.container-campos-login {
	width: 300px;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 25px;
	padding: 5px;
}
